<%- include('template/logout')%>
<div>
  <h2>Update Consultation</h2>
  <%if(data){%>
  <div>
    <!--  <form
      action="/admin/update/consult/<%= data.id_consultation%>"
      method="POST"
    >
      <label for="monto">Monto</label>
      <input type="number" name="monto" value="<%= data.Monto%>" />
      <label for="fecha">Fecha</label>
      <input
        type="datetime-local"
        name="fecha"
        value="<%= data.fecha_consulta%>"
      />
      <button type="submit">Actualizar cita</button>
    </form> -->
    <form
      class="row g-3"
      action="/admin/update/consult/<%= data.id_consultation%>"
      method="POST"
    >
      <div class="col-auto">
        <label for="monto" class="visually-hidden">Monto</label>
        <input
          type="number"
          class="form-control-plaintext"
          id="staticEmail2"
          name="monto"
          value="<%= data.Monto%>"
        />
      </div>
      <div class="col-auto">
        <label for="fecha" class="visually-hidden">Fecha</label>
        <input
          type="datetime-local"
          name="fecha"
          class="form-control"
          id="inputPassword2"
          value="<%= data.fecha_consulta%>"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">
          Actualizar cita
        </button>
      </div>
    </form>
  </div>
  <%}%>
</div>

<%- include('template/_footer')%>
