<%- include('template/navbar')%> <%- include('template/messages')%>

<div class="container">
  <div class="row mt-5">
    <p>Nuevo Paciente</p>
    <div class="col-md-5">
      <form
        class="row g-3 card card-body"
        action="/admin/patient"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="col-auto">
          <input
            type="text"
            class="form-control"
            id="staticEmail2"
            name="name"
            placeholder="Nombre del paciente"
          />
        </div>
        <div class="col-auto">
          <label for="avance" class="visually-hidden">Avance</label>
          <input
            type="file"
            class="form-control"
            id="staticEmail2"
            name="avance"
          />
        </div>
        <button type="submit" class="btn btn-primary">Agregar Paciente</button>
      </form>
    </div>
    <div class="col-md-7">
      <% if(typeof data == 'object'){%>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Avance</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(d =>{%>
          <tr>
            <td><%= d.name%></td>
            <td>
              <% if(d.pdf == "No hay avances" ){%>
              <p><%= d.pdf%></p>
              <% }else{%>
              <a href="/downloads/<%= d.pdf%>"><%= d.pdf%></a>
              <% }%>
            </td>
            <td>
              <a href="/admin/update/patient/<%= d.id%>">update</a>
              <a href="/admin/delete/patient/<%= d.id%>">borrar</a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
      <% }else{%>
      <h3><%= data %></h3>
      <% }%>
    </div>
  </div>
</div>
<%- include('template/_footer')%>
